.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 0;
}

.container .table {
    width: 100%;
    margin: 0;
}

.salesLeadsBox {
    width: 100%;
    display: flex;
    font-family: "Raleway", sans-serif;
    margin: 0 0 15px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .25), 0 0px 10px rgba(0, 0, 0, .22);
    padding: 40px 20px 16px;
    border-radius: 8px;
}

.salesLeadsBox .header_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.salesLeadsBox .table tr {
    color: #444;
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1;
}

.salesLeadsBox .table thead tr {
    font-size: 10px;
}

.salesLeadsBox .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(241 239 247 / 1);
    color: #444444;
}

.salesLeadsBox tbody,
.salesLeadsBox td,
.salesLeadsBox tfoot,
.salesLeadsBox th,
.salesLeadsBox thead,
.salesLeadsBox tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}

.salesLeadsBox .table tbody {
    border-top: 1px solid #c8c9e4;
    border-bottom: 1px solid #c8c9e4;
}

.datePicker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
}

.datePicker input.datepicker input {
    width: 100%;
}

.datePicker input.datepicker input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.rowBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.rowBox .mb-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px 0 0 !important;
    position: relative;
}

.rowBox input[type="text"],
.rowBox select {
    width: 230px;
    border-radius: 6px;
    border: 1px solid #787878;
    font-size: 0.75em;
    color: #444;
    font-family: "Raleway", sans-serif;
}

.rowBox input[type="text"]:focus,
.rowBox select:focus {
    outline: none;
    box-shadow: none;
}

.rowBox input[type="text"]::placeholder,
.rowBox select::placeholder {
    color: #787878;
}

.rowBox label {
    font-size: 0.94em;
    color: #444;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.rowBox select,
.rowBox .datePicker input[type="text"] {
    width: 140px;
}

.rowBox .datePicker input[type="text"] {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.rowBox .datePicker::after {
    content: "\f073";
    right: 10px;
    position: absolute;
    font-family: 'Font Awesome 5 Free';
}

.rowBox button {
    font-size: 0.94em;
    color: #444;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 5px 5px;
    border: 1px solid #d7dcde;
    border-radius: 5px;
    outline: none;
    background-color: #f1eff7;
    box-sizing: border-box;
    padding: 3px 20px;
    cursor: pointer;
}

.rowBox .purple_btn {
    color: white;
    background: #8739f6;
    background: linear-gradient(145deg, #8739f6 15%, #a849fc 65%);
    border: none;
    padding: 4px 20px;
}

.table-striped td div.userImg {
    border-radius: 50%;
    background-color: #7b59a5;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.table-striped {
    width: 100%;
    font-size: 0.95em;
    border: none;
}

.table-striped td div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.table-striped th,
.table-striped td {
    padding: 0 .75em;
    text-align: left;
}

.table-striped th div {
    font-weight: 400;
}

.table-striped .form-check-input[type=checkbox] {
    margin: 0;
    width: 12px;
    height: 12px;
    position: relative;
}

.table-striped .form-check-input:checked {
    background-color: #7b59a5;
    border-color: #7b59a5;
}

.table-striped .form-select {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 0;
}

.table-striped thead th {
    border-bottom: none;
}

.bootstrap-table .fixed-table-container .table thead th .sortable {
    text-align: left;
}

.preview {
    color: white;
    background-color: #f6b7a0;
    border: none;
    outline: none;
    padding: 4px 9px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 0 0 0 10px;
    opacity: 0;
    transition: all .3s;
}

.table-hover tbody tr:hover,
.salesLeadsBox .table-striped > tbody > tr:nth-of-type(odd):hover {
    background-color: #9fa1cc;
    --bs-table-accent-bg: #9fa1cc;
    color: white;
}

.table-hover tbody tr:hover .preview,
.salesLeadsBox .table-striped > tbody > tr:nth-of-type(odd):hover .preview {
    opacity: 1;
}

/*style of modal*/


#modalAllUserInfo .summaryBox {
    width: 100%;
    padding: 22px 30px;
}

#modalAllUserInfo p {
    margin: 0;
}

#modalAllUserInfo .nameBox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    color: #444;
    font-family: "Raleway", sans-serif;
}

#modalAllUserInfo .nameBox .userImg {
    border-radius: 50%;
    background-color: #7b59a5;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
}

#modalAllUserInfo .nameBox p {
    display: flex;
    align-items: center;
}

#modalAllUserInfo .nameBox p i {
    margin: 0 0 0 10px;
}

#modalAllUserInfo .header_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modalAllUserInfo .accordion-button p {
    font-size: 20px;
    color: #444;
    margin: 0 5px 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

#modalAllUserInfo .accordion-button::after {
    width: 0.65rem;
    height: 0.65rem;
    background-size: 0.65rem;
}

.modal-dialog {
    max-width: 815px;
}



#modalAllUserInfo .sumBtnBox {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 95%;
}

#modalAllUserInfo .Grandtotal {
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
}

#modalAllUserInfo .sumBtnBox button {
    margin: 0 2px 5px;
}

#modalAllUserInfo .totalBox {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    padding: 10px 0 0;
    margin: 0 auto;
}

#modalAllUserInfo .totalBox .disc {
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#modalAllUserInfo .totalBox .disc span {
    font-weight: 600;
    font-style: normal;
    margin: 0 8px 0 15px;
}

#modalAllUserInfo .fa-pen {
    width: 16px;
    height: 16px;
    font-size: 8px;
    margin: -2px 0 0;
}

#modalAllUserInfo .totalBox .total {
    border: none;
    padding: 0;
}

#modalAllUserInfo .accordion-button {
    border-top: 1px solid #c8c9e4;
    border-bottom: none;
    padding: 10px 0px 10px 0;
    background-color: transparent;
}


#modalAllUserInfo .accordion-body {
    margin: 0;
    padding: 0;
}

#modalAllUserInfo .accordion-item .table > :not(caption) > * > * {
    padding: 10px;
}

#modalAllUserInfo .accordion-item .table .date i {
    margin: 0 5px 0 0;
}

#modalAllUserInfo .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #f1eff7;
    color: #444;
}

.or_circle {
    border-radius: 50%;
    background-color: #f6b7a0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 0.94em;
    padding: 0;
    font-weight: 900;
    transition: all .3s;
    margin: 0 0 0 20px;
}

#modalAllUserInfo .accordion-button::after {
    transform: rotate(90deg);
    background-image: url(img/chevron-down-solid.svg);
}

#modalAllUserInfo .accordion-button:not(.collapsed)::after {
    background-image: url(img/chevron-down-solid.svg);
    transform: rotate(0deg);
}

#modalAllUserInfo .accordion-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#modalAllUserInfo .accordion-body .info {
    font-size: 0.75em;
    color: #444;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding: 10px 0;
    font-style: italic;
}

#modalAllUserInfo .accordion-body p {
    margin: 0;
    color: black;
    font-style: normal;
}

#modalAllUserInfo .accordion-body .form-select {
    font-size: 12px;
    color: #444;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 30px;
    margin-top: 5px;
}

#modalAllUserInfo .sumBtnBox {
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 20px 0;
    border-top: 1px solid #c8c9e4;
    width: 100%;
}

#modalAllUserInfo .sumBtnBox button {
    font-size: 0.94em;
    color: #444;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 5px 5px;
    width: 100px;
    border: 1px solid #d7dcde;
    border-radius: 5px;
    outline: none;
    background-color: #f1eff7;
    box-sizing: border-box;
    padding: 3px 0;
    cursor: pointer;
}

#modalAllUserInfo .sumBtnBox .purple_btn {
    color: white;
    background: #8739f6;
    background: linear-gradient(145deg, #8739f6 15%, #a849fc 65%);
    border: none;
    padding: 4px 0;
}

#modalAllUserInfo .modal-dialog {
    max-width: 415px;
    margin: 0 0 0 auto;
}

.page-list {
    display: none !important;
}

.page-item .page-link {
    color: #444;
    background-color: transparent;
    border-radius: 4px;
    padding: 0;
    font-size: 10px;
    width: 14px;
    height: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item.active .page-link {
    background-color: #9c3bff;
}

.page-item.disabled .page-link {
    background-color: transparent;
    color: #444;
}

.page-next .page-link {
    width: auto;
    margin: 0 0 0 10px;
    margin-left: 10px !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.page-pre .page-link {
    width: auto;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.fixed-table-pagination {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.pagination-detail {
    display: none;
}
